/* 공통 소스 */

body{font-size: 14px;
    font-family: 'Nanum Gothic', sans-serif;
    color: #222;
    background: #fff;
}

.wrapper{min-width: 1152px; letter-spacing: -0.05em;}

.blind{position: absolute;
    width: 1px; height: 1px; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    margin: -1px;}


.inner{width: 1152px; 
    margin: auto;
    box-sizing: border-box;}

.h2-title{font-size: 24px; font-weight: 700;}


/* iseoulu */
.header-bottom .bottom-logo
{background-image: url(../image/icon-bottom.png); 
background-repeat: no-repeat;}

/* 서울특별시 돋보기 메인버튼 이벤트,행사+ 새소식+ 배너버튼 다산콜 */
.header-top .top-logo a,
.search-area .btn-search,
.footer-bottom .call,
.event-group .link-more,
.sc-visual .group-visual .btn-nav.prev,
.sc-visual .group-visual .btn-nav.autoplay,
.sc-visual .group-visual .btn-nav.autoplay.active,
.sc-visual .group-visual .btn-nav.next,
.sc-move .btn-nav.prev,
.sc-move .btn-nav.next,
.sc-move .btn-nav.autoplay,
.sc-move .btn-nav.autoplay.active,
.sc-new .link-all::after
{background-image: url(../image/download.png); 
background-repeat: no-repeat;}

/* 주요뉴스 시민참여 */
.sc-visual .visual-news .visual-area::before,
.sc-visual .visual-citizen .visual-area::before
{background-image: url(../image/icon-main.png); 
background-repeat: no-repeat;}

/* 주요서비스 */
.sc-service .sort-list .ic-reserv::before,
.sc-service .sort-list .ic-respon::before,
.sc-service .sort-list .ic-job::before,
.sc-service .sort-list .ic-estate::before,
.sc-service .sort-list .ic-life::before,
.sc-service .sort-list .ic-welf::before,
.sc-service .sort-list .ic-house::before,
.sc-service .sort-list .ic-youth::before,
.sc-service .sort-list .ic-hand::before,
.sc-service .sort-list .ic-democr::before,
.sc-service .sort-list .ic-city::before
{background-image: url(../image/icon-service.png); 
background-repeat: no-repeat;}

/* 서울로고 sns로고들 */
.sc-sns .sns-title::after,
.sc-sns .sns-list .link-sns1.insta::after,
.sc-sns .sns-list .link-sns1.face::after,
.sc-sns .sns-list .link-sns1.twit::after,
.sc-sns .sns-list .link-sns1.blog::after,
.sc-sns .sns-list .link-sns1.yout::after,
.sc-sns .sns-list .link-sns1.kakao::after
{background-image: url(../image/icon-sns1.png); 
background-repeat: no-repeat;}

/* 푸터sns 로고 */
.footer-top .link-sns2.face,
.footer-top .link-sns2.twit,
.footer-top .link-sns2.insta,
.footer-top .link-sns2.kakao,
.footer-top .link-sns2.yout,
.footer-top .link-sns2.blog
{background-image: url(../image/icon-sns2.png); 
background-repeat: no-repeat;
background-position: center;}
